<div id="menu8">
  <ul>
    <li><%= link_to "Tb Cases", tbcases_path %> </li>
    <li><%= link_to "Add New Tb Cases", new_tbcase_path %> </li>
   <li><%= link_to "TB Location Report ", tblocationreports_path %></li>
  </ul>
</div>
