<div class="report_dlg">
<%= form_tag "/malariapreventionreports/" , :method => "get" do %>
  <%= submit_tag "Generate Report" %>
<% end %>
</div>
<%= image_tag("hiv_gender_report_pie.png",:alt => "Malaria Location Reporting") %>

