<div id="menu8">
  <ul>
    <li><%= link_to "View All SMS Received ", smsmessages_path%> </li>
    <li><%= link_to "View All Users", users_path %></li>
    <li><%= link_to "Add New User", new_user_path %></li>
  </ul>
</div>
