<div id="menu8">
  <ul>
    	<li><%= link_to "Malaria Cases ", malariacases_path%> </li>
	<li><%= link_to "Add New Malaria Cases ", new_malariacase_path%> </li>
    	<li><%= link_to "Location Reports", malarialocationreports_path %></li>
	
  </ul>
</div>
