<%= form_for(@malariagenderreport) do |f| %>
  <% if @malariagenderreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@malariagenderreport.errors.count, "error") %> prohibited this malariagenderreport from being saved:</h2>

      <ul>
      <% @malariagenderreport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
