<div class="report_dlg">
<%= form_tag "/malariapreventionreports/" , :method => "get" do %>
  <%= submit_tag "Generate Report" %>
<% end %>
</div>

<%= image_tag("dots_report.png",:alt => "Malaria Gender Report") %>
