<div id="menu8">
  <ul>
    <li><%= link_to "New Location", new_location_path %> </li>
    <li><%= link_to "New Worker", new_villageworker_path %></li>
    <li><%= link_to "View Locations", locations_path %></li>
    <li><%= link_to "View All Workers", villageworkers_path %></li>
  </ul>
</div>
